<div class="body">
    <div class="container">
        <!-- 空白行 -->
        <div class="footer-no"></div>

        <div class="footer-sale row">
            <ul class="list-group list-inline">
                <li class="list-group-item">
                    <img src="../../assets/img/homepage/zheng.png" alt="" >
                    <div>
                        <p class="footer-22">全场正品</p>
                        <p>出版社直采·博库正品</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <img src="../../assets/img/homepage/sheng.png" alt="" >
                    <div>
                        <p class="footer-22">全场满59包邮</p>
                        <p>惊喜不断·让利多多</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <img src="../../assets/img/homepage/huo.png" alt="" >
                    <div>
                        <p class="footer-22">门店自取</p>
                        <p>就近取货·方式灵活</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <img src="../../assets/img/homepage/hao.png" alt="" >
                    <div>
                        <p class="footer-22">售后无忧</p>
                        <p>服务体验·更加精彩</p>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 空白行 -->
        <div class="footer-no"></div>
    </div>
</div>