.search-box{
    height: 120px;
    margin: 0px;
    text-align: center;
}
.logo{
    height: 60px !important;
    margin-top: 30px;
    line-height: 60px;
    font-family: "楷体";
    font-size: 16px;
    color: #e4393c;
}
.logo a{
    text-decoration: none;
    color: #2db4ea;
    font-size: 36px;
    height: 60px;
    line-height: 60px;
}
.logo a img{
    height: 60px;
}
.login-title{
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
}
.login-body{
    margin: 0 auto;
    height: 220px;
}

.content{
    width: 370px;
    margin: 0 auto;
}
.content form div{
    padding-top: 10px;
    text-align: center;
}
.content form div label{
    width: 70px;
    text-align: right;
}
.content form div input{
    width: 300px;
}
.content form div button{
    background-color: #2db4ea;
    color: #ffffff;
}
.login-button button{
    width: 370px;
    height: 40px;
    margin-top: 0px;
}
.forget-pwd{
    text-align: right !important;
}
.forget-pwd a{
    text-decoration: none;
}